/* TODO : We need to center the avatar and username in the header, and add some spacing between them. */
.edit-profile-card__header {
  text-align: center;
  margin-bottom: var(--spacing-md);
}

.edit-profile-card__counter {
  text-align: right;
  color: var(--color-disabled);
}