.register-page__form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.register-page__link {
  color: var(--color-tertiary-text);
  text-decoration: none;
}

.register-page__link:hover {
  text-decoration: underline;
}