.edit-profile-card {
  padding: var(--spacing-md);
  border: 1px solid var(--color-border-primary);
  background-color: var(--color-background-secondary);
}

/* TODO : We need to center the avatar and username in the header, and add some spacing between them. */
.edit-profile-card__header {
  text-align: center;
  margin-bottom: var(--spacing-md);
}

.edit-profile-card__header .profile-card__avatar {
  display: inline-flex;
}

.edit-profile-card__form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.edit-profile-card__actions {
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing-sm);
  margin-top: var(--spacing-md);
}

.edit-profile-card__counter {
  text-align: right;
  color: var(--color-disabled);
}